@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("http://social.bioware.com/user_home.php") {
  /* Hide the carousel. */
  #home_carousel_wrapper { display:none }

  /* Hide the "My Friends" / "Everyone" tabs. */
  #content_middle_column .tab_wrapper,

  /* Hide the RoC update notice. */
  #rules_update_overlay,
  
  /* Hide the right column on the home page. To retain the group subscription
     notification see http://userscripts.org/scripts/show/127615 */
  #content_right_column { display:none }
  
  /* Extend width of SU comment box. */
  .newsfeedplus_comment_wrapper {
    width:auto!important;
    margin-right:22px;
  }
  .newsfeedplus_comment_body { max-width:100%!important; }
}
@-moz-document url-prefix("http://social.bioware.com/") {
  /* Hide the banner. */
  #topbar { display:none }
  
  /* Reposition the New Updates bubble to account for no banner. If the bubble
     is stuck on a missing update, PM Jeff Roussell to remove it. */
  #newupdates {
    top:55px!important;
    left:30px!important;
    z-index:1!important;
  }
  
  /* The PM window pushes the Send button out of view when adding recipients;
     increase window height so it's always visible. */
  #TB_iframeContent { height:510px!important; }

  /* On other pages, move the right sidebar to the left, below the control
     panel, to show more of the theme. see
     http://userscripts.org/scripts/show/127615 */
  #content_right_column {
    position:inherit!important;
  }
  .secondary_column {
    margin-top:0px!important;
  }

  /* Increase font size and contrast for text heavy areas. Site default is 8pt
     and #aaa. */
  #content_middle_column .home_whatsnew td,
  #content_middle_column .home_whatsnew td + td > div,
  #content_only_column .group_discussion_post_content div,
  .SEPForumTextOutput, .seBlogEntryBody, .messages_view2 {
    font-size:9pt!important;
    color:#bbb!important
  }

  /* Above change also affects group discussion edit boxes. Fix their text
     colours. */
  #content_only_column .group_discussion_post_content textarea div { color:#000!important;}
  
  /* Hide gradient background for discussion-poster. */
  #content_only_column .group_discussion_item1 { background:none!important }

  /* Hide Report link on discussion list. */
  #group_discussions td > div[style^="color"] br + a,
  #group_discussions br
  { display:none }
  
  /* Hide the W40K ad. */
  #lower_sidebar { display:none }
  
  /* Replace the solid background with a transparent one. Mostly aimed at
     themes. */
  #sidebar_user_wrapper { background-color:#121212 }
  #uberwrapper {
    background:-moz-linear-gradient(left,
      rgba(0,0,0,0) 0%,
      rgba(18,18,18,0.8) 2%,
      rgba(18,18,18,0.8) 98%,
      rgba(0,0,0,0) 100%)!important;
  }
}

@-moz-document url-prefix("http://social.bioware.com/forum") {
  /* Hide: portrait; moderator list; "Forum" header; RSS link; ratings; forum
     description; signatures. */
  #sidebar, #content .moderators, .SEPForumInstanceHeader, .forum_rss_link,
  #forum_rating_original, img[src*="rating_"], .category .subline,
  #content .forum_post_signature
  { display : none !important; }

  /* Expand to fill most of the width. */
  #content {
    margin-top:0px!important;
    margin-left:5px!important;
    width:970px!important;
  }

  /* Hide the RoC update notice. */
  #content > .SEPForumInstanceHeader + div { display:none; }
  
  /* Increase width of forum/thread name and post content. */
  .parentCategoryCaptions td:nth-child(3), .SEPForumTextOutput {
    width:auto!important
  }
  
  /* Reposition breadcrumbs and buttons. */
  .forum_mainactions, .forum_breadcrumb {
    padding:0px!important;
    margin:6px 0px 0px 0px!important;
  }
  
  /* Improve pager usability. */
  .SEPForumPagination a
  {
    padding:0px 5px 0px 5px!important;
    margin:0px!important;
  }
  .SEPForumPagination a:hover
  {
    text-decoration:underline!important;
    color:#fff!important;
  }

  /* The rounded corner images don't work with the wide layout, remove them.
     Also fill post body with background. */
  .roundbox_head > span, .roundbox_head, .roundbox_foot > span, .roundbox_foot,
  .content_headline > span, .content_headline, .parentCategoryTopMiddle,
  .parentCategoryTopRight, .parentCategoryTopLeft, .parentCategoryBottomMiddle,
  .parentCategoryBottomLeft, .parentCategoryBottomRight, table.SEPPosts {
    background:#323232 none no-repeat!important;
    border:none!important;
  }

  /* Forum category emphasis. */
  .parentCategory td {
    background-color:#3d3d3d!important;
    padding:5px 0px 5px 0px!important;
  }
  .parentCategory td .title { font-size:10pt!important; }

  /* Alternating colours for thread listings. */
  .SEPForumTopicsOverview .background2 td { background:#3a3a3a!important; }

  /* The poster box has a hideous gradient. Remove it and place some borders
     instead. */
  .userInfo {
    background-image:none!important;
    border-top:1px solid #555;
  }
  .SEPPosts tr:last-child td { border-bottom:1px solid #555!important }

  /* Clean up quotes. */
  .postQuote {
    margin-right:5px;
    border-style:solid!important;
    border-color:#777!important
  }
  
  /* Increase the height of the Quick Reply form. */
  .SEPPosts td textarea { height:250px!important; }
  
  /* Style custom search field. */
  .searchwrapper { width:50%!important; }
  .searchwrapper input {
    background:none #fff!important;
  }
  .searchwrapper input[type='text'] {
    padding:0px 2px 0px 2px!important;
  }
}